<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChavpKernelProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChavpKernelProcessor.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value>PROCESSOR-2</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="VirtualHost" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>guest</value>
            </setting>
        </ChavpKernelProcessor.Properties.Settings>
    </userSettings>
</configuration>